# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\working\code\play_label-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
